:root{
    --background-color1:rgba(252,195,2,1);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
  }
  
html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}
/*Styling the Navigation Bar*/
nav{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgb(212, 164, 4);
}
nav > img{
  height: auto;
  max-width: 100%;
}
nav > a{ 
  padding:20px;
  text-decoration:none;
  font-size: large;
}
nav > a:link{
  color: white;
}
nav > a:visited{
  color:white;
}
nav > a:hover{
  color:rgb(210, 132, 31);
  cursor: pointer;
}
/* styling search bar */
.search input[type="text"]{
    width:100px;
    height:31px;
    border: none;
    background-color: var(--background-color1);
}    
.search{
    float:right;
    margin-top: 20px;   
}     
.search button{
    background-color: rgba(0,190,201,1);
    color: white;
    float: right;
    padding: 5px 10px 8px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-family: 'Poppins', sans-serif;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-family: 'Poppins', sans-serif;
  }
/*styling diva*/
.diva{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--background-color1);
    color:white;
}
.diva-col1
{    flex: 20%;        
}
.diva-col2
{    flex: 80%;           
}
.diva-col1 h1{
    font-size: 3rem;
    font-weight:bold;
    text-align: center;
}
.diva-col1 p{
    text-align: center;
}
.diva-col2{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;   
}
.center
{
    text-align: center;
}
.image{
    width: 100%;
}

/*styling divb*/
.divb{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--background-color1);
    color:white;
}
.divb-col1
{    flex: 20%;        
}
.divb-col2
{   flex: 80%;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;           
}
.divb-col1 h1{
    font-size: 3rem;
    font-weight:bold;
    text-align: center;
}
.divb-col1 p{
    text-align: center;
}
.button5{
    background-color: rgba(0,190,201,1);
    border-color:rgba(0,190,201,1);
    color:white;
    padding:0.8em;
    border-radius: 2em;
    font-weight: bolder;
    cursor: pointer;
    width: 40%;
    display:block;
    margin:0 auto;      
}
.button5:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.button5:active {
    background-color: rgb(212, 164, 4);
    box-shadow: 0 5px rgb(212, 164, 4);
    transform: translateY(4px);
}
.divb-col1 p{
    text-align: center;
}
.line-through{
    text-decoration: line-through;
}
.text1{
    font-size:1.5rem ;
    margin-bottom: 1.5em;
}
/*Styling footer*/
.footer{
    display:flex;
    background-color: rgba(52,52,52,1);
    color:white;
    padding-bottom: 5em;
    justify-content: space-evenly;
    align-items: center;
}
.third{
width: calc(100%/3);
padding-left:1.5em;
}
.right{
text-align: end;
padding-right:2em;
}
.third > ul> li{
    text-align: start;
}
.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style-position: outside;
}
.list a{ 
    text-decoration:none;  
    color: white;
}
.list a:hover{
    color:rgb(210, 132, 31);
    cursor: pointer;
}
.white{
    color: white;
}
.white i{
    font-size: larger;
}
.text2{
font-weight: 900;
font-size: large;
}
.social-icons
{
display:flex;
justify-content: center;
align-items: space-evenly;  
}
.social-icons a{
margin:0 0.5em;
}
/*animation of social-icons*/
.icon-3d {
    
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
   
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}
@keyframes icon3d {
  0% {
    text-shadow: 5px 4px red, -5px -6px blue;
  }
  25% {
    text-shadow: -5px -6px red, 5px 4px blue;
  }
  50% {
    text-shadow: 5px -4px red, -8px 4px blue;
  }
  75% {
    text-shadow: -8px -4px red, -5px -4px blue;
  }
  100% {
    text-shadow: -5px 0 red, 5px -4px blue;
  }
}
@media screen and (max-width: 650px) {
    nav{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    nav > a,img{
    display:block;
    width: 100%;
    }
    .diva {   
        flex-direction: row;
    }
    .diva-col2{
        flex-direction: column;   
    }
    .footer {   
    flex-direction: column;
}
.divb {   
    flex-direction: row;
}
.divb-col2{
    flex-direction: column;   
}
}